.sub-title,
h1,
h2 {
    text-align: center;
}
.sub-title,
h2 {
    margin: 0 0 1em;
    font-size: 3em;
}
h3 {
    margin: 1em 0 1.5em;
    font-size: 1.5em;
}
.job-title,
h4 {
    margin: 0 0 1em;
    font-size: 1em;
}
