.navbar {
    margin: 0;
    color: black;
    background: white;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    padding: 1em;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}
