.noscript {
    position: absolute;
    padding: 1em 1.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 2em;
    background-color: $accent-color;
    color: white;
    animation: 2s noscript;

    a {
        text-decoration: underline;
        color: white;
    }
}
