// Phone portrait and below
@media only screen and (max-width: 544px) {
    .hide-mobile {
        display: none;
    }

    .hide-margin {
        margin-top: 0;
    }
}
// Tablet landscape and below
@media only screen and (max-width: 1030px) {
    .selfie, .portfolio-img-lg {
      max-width: 300px;
    }
    .hide-tablet {
      display: none;
    }
}
// 1400px+
@media only screen and (min-width: 1400px) {
    body {
        font: {
            size: 20px;
        }
    }
}
// 1800px+
@media only screen and (min-width: 1800px) {
    body {
        font: {
            size: 24px;
        }
    }
}
// 2200px+
@media only screen and (min-width: 2200px) {
    body {
        font: {
            size: 30px;
        }
    }
}
// 3000px+
@media only screen and (min-width: 3000px) {
    body {
        font: {
            size: 40px;
        }
    }
}
