@media only screen and (max-width: 544px) {
    .hide-mobile {
        display: none;
    }
    .hide-margin {
        margin-top: 0;
    }
    .contact-links {
        padding-top: 1em;
        text-align: center;
        li {
            color: white;
            background-color: $accent-color;
        }
    }
}

@media only screen and (min-width: 1400px) {
  body {
    font: {
      size: 20px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font: {
      size: 20px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  body {
    font: {
      size: 24px;
    }
  }
}

@media only screen and (min-width: 2200px) {
  body {
    font: {
      size: 30px;
    }
  }
}

@media only screen and (min-width: 3000px) {
  body {
    font: {
      size: 40px;
    }
  }
}
