$slide-bg-odd: #E3E3E3;
$slide-bg-even: #F2F2F2;
$font-color: black;
$accent-color: #2B5E79;
$main-font: 'Quicksand', Arial, Helvetica, sans-serif;
$fancy-font: 'Stalemate', "Times New Roman", Times, serif;
