@import 'variables';

@import 'elements/body';
@import 'elements/h';
@import 'elements/a';
@import 'elements/header';
@import 'elements/navbar';
@import 'elements/section';


.about-col {
    margin: 2em 0 1.5em;
}
.contact-links {
    list-style-type: none;
    padding-left: 0;
    li {
        color: $accent-color;
        padding: 1em 0;
        width: 30%;
        display: inline-block;
    }
}
.slide-container {
    width: 100%;
    max-width: 60em;
    margin: auto;
}
.lined-row {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $slide-bg-odd;
}
img.selfie {
    border: 0.5em solid white;
    border-radius: 50%;
    width: 75%;
    // max-width: 250px;
    // max-height: 250px;
}
.accent-color {
    color: $accent-color;
}

@import 'effects/nav_stick';
@import 'effects/animations';
@import 'effects/hover_effect';

@import 'breakpoints';
