@import 'variables';

@import 'elements/body';
@import 'elements/h';
@import 'elements/a';
@import 'elements/noscript';
@import 'elements/navbar';
@import 'elements/section';

.about-col {
    margin: 2em 0 1.5em;
}
.slide-container {
    width: 100%;
    max-width: 60em;
    margin: auto;
}

.selfie {
    border: 0.5em solid white;
    border-radius: 50%;
    width: 75%;
    // max-width: 250px;
    // max-height: 250px;
}
.portfolio-img-lg {
  width: 100%;
  margin: auto;
  display: block
}
.accent-color {
    color: $accent-color;
}

@import 'effects/canvas-header';
@import 'effects/button-links';
@import 'effects/lined-row';
@import 'effects/portfolio-flex';
@import 'effects/nav-stick';
@import 'effects/animations';
@import 'effects/hover-effect';

@import 'breakpoints';
