/** { border: 1px solid black;}*/

/* **************
*****************
Mobile-First Design
*****************
*****************/

html, body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}

#global-container {
	margin: 0;
	padding: 0;
}

#top, #about, #resume, #portfolio, #skills, #contact {
	width: 100%;
	margin: 0;
	text-align: left;
}

#top {
	height: 80vh;
	padding-top: 20vh;
	background-color: #f2f2f2;
	background-image: url("../images/header-wood.jpg");
	background-attachment: fixed;
	text-align: center;
}

#contact {
	background-color: #e3e3e3;
}

#navigation-wrapper {
	height: 48px;
}

#navigation {
	width: 100%;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 14px 16px;
}

.navigation-stick {
	position: fixed;
	top: 0;
}

.nav-icon {
	font-size: 1.25em;
}

section:nth-child(odd) {
	background-color: #e3e3e3;
}

section:nth-child(even) {
	background-color: #f2f2f2;
}

#top h1 {
	margin: 0;
	padding: 0;
	font-family: 'Stalemate', "Times New Roman", Times, serif;
	font-size: 8em;
	font-weight: normal;
}

h1, h2 {
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.job-title {
	margin-top: 0;
	font-weight: bold;
}

.sub-title {
	font-size: 3em;
	margin: 0;
}

.slide-container {
	padding: 3em 0;
	width: 100%;
	margin: auto;
}

.slide-title {
	font-size: 3em;
	margin: 0 0 1em 0;
	text-align: center;
}

.hide-mobile {
	display: none;
}

.resume-row {
	border-bottom: 1px solid #e3e3e3;
}

a:visited, a:link, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.accent-color {
	color: #266a2e;
}

.link-icon {
	padding-right: 1em;
}

#profile-img {
	width: 100%;
	max-width: 250px;
	max-height: 250px;
	height: 100%;
	border: 0.5em solid white;
	border-radius: 50%;
}

/****************
*****************
Expanding Layout
*****************
*****************/

@media all and (min-width: 40em) {
	.hide-mobile {
		display: initial;
	}

	.nav-icon {
		display: none;
	}
}

@media all and (min-width : 30em) and (max-width : 50em) {
	.slide-container {
		width: 80%;
	}
}

@media all and (min-width: 50em) {
	.about-col {
		margin-top: 2em;
	}
}

@media all and (min-width: 60em) {
	.slide-container {
		width: 80%;
	}
}

@media all and (min-width: 70em) {
	.slide-container {
		width: 70%;
	}
}

@media all and (min-width: 80em) {
	.slide-container {
		width: 60%;
	}
}

/* **************
*****************
Grid Structure
*****************
*****************/

/*Thanks to Jan Drewniak at j4n.co*/

.grid-container {
	width: 100%;
	max-width: 1200px;
}

/*-- cleafix hack --*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.grid-container * {
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 16.66%;
	/*-- gutter --*/
	padding: 12px;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%; }
.col-4{ width: 66.664%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; }

.outline, .outline * { outline: 1px solid #f6a1a1; }

@media all and (max-width: 50em) {
	.col-1{ width: 33.33%; }
	.col-2{ width: 100%; }
	.col-3{ width: 100%; }
	.col-4{ width: 100%; }
	.col-5{ width: 100%; }
	.col-6{ width: 100%; }

	.row .col-2:last-of-type{
		width: 100%;
	}

	.row .col-5 ~ .col-1{
		width: 100%;
	}
}

/* Additional rules for column formatting */
.centered-col {
	text-align: center;
}
