@media all and (min-width: 40em) {
	.hide-mobile {
		display: initial;
	}

	.nav-icon {
		display: none;
	}
}

@media all and (min-width : 30em) and (max-width : 50em) {
	.slide-container {
		width: 80%;
	}
}

@media all and (min-width: 60em) {
	.slide-container {
		width: 80%;
	}
}

@media all and (min-width: 70em) {
	.slide-container {
		width: 70%;
	}
}

@media all and (min-width: 80em) {
	.slide-container {
		width: 60%;
	}
}