/*Thanks to Jan Drewniak at j4n.co*/

.grid-container {
	width: 100%;
	max-width: 1200px;
}

/*-- cleafix hack --*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.grid-container * {
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 16.66%;
	/*-- gutter --*/
	padding: 12px;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%; }
.col-4{ width: 66.664%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; }

.outline, .outline * { outline: 1px solid #f6a1a1; }

@media all and (max-width: 50em) {
	.col-1{ width: 33.33%; }
	.col-2{ width: 100%; }
	.col-3{ width: 100%; }
	.col-4{ width: 100%; }
	.col-5{ width: 100%; }
	.col-6{ width: 100%; }

	.row .col-2:last-of-type{
		width: 100%;
	}

	.row .col-5 ~ .col-1{
		width: 100%;
	}
}

/* Additional rules for column formatting */
.centered-col {
	text-align: center;
}