body {
  background-color: #F2F2F2;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 16px; }

.sub-title,
h1,
h2 {
  text-align: center; }

.sub-title,
h2 {
  margin: 0 0 1em;
  font-size: 3em; }

h3 {
  margin: 1em 0 1.5em;
  font-size: 1.5em; }

.job-title,
h4 {
  margin: 0 0 1em;
  font-size: 1em; }

a:active,
a:hover,
a:link,
a:visited {
  color: #2B5E79;
  text-decoration: none;
  outline: 0; }

.noscript {
  position: absolute;
  padding: 1em 1.5em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 2em;
  background-color: #2B5E79;
  color: white;
  animation: 2s noscript; }
  .noscript a {
    text-decoration: underline;
    color: white; }

.navbar {
  margin: 0;
  color: black;
  background: white;
  border-radius: 0;
  border: 0; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: #777;
  padding: 1em; }

.navbar-default .navbar-nav > li > a:focus {
  color: #777; }

section:nth-child(odd) {
  background-color: #E3E3E3; }

section:nth-child(even) {
  background-color: #F2F2F2; }

section {
  padding: 3em 0; }

.about-col {
  margin: 2em 0 1.5em; }

.slide-container {
  width: 100%;
  max-width: 60em;
  margin: auto; }

img.selfie {
  border: 0.5em solid white;
  border-radius: 50%;
  width: 75%; }

.accent-color {
  color: #2B5E79; }

.canvas-container {
  background: white;
  overflow: hidden;
  position: relative; }

canvas {
  display: block;
  margin: auto; }

.canvas-popup {
  opacity: 0;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: opacity 4s; }
  .canvas-popup a {
    color: white; }

.triangle {
  border: 1px solid white;
  width: 24rem;
  height: 24rem;
  background: #2B5E79;
  position: absolute;
  bottom: -12rem;
  right: -12rem;
  transform: rotate(45deg);
  z-index: 0; }

h1 {
  position: relative;
  right: 2rem;
  bottom: 1.75rem;
  font-weight: normal;
  margin: 0;
  line-height: 0.75em;
  z-index: 999999;
  font-family: 'Stalemate', "Times New Roman", Times, serif;
  font-size: 4em; }

.button-links {
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .button-links a {
    color: #2B5E79;
    border: 2px solid #2B5E79;
    padding: 0.5em 0;
    margin: 0 1em;
    width: 100%;
    display: inline-block;
    transition: color 0.5s, background 0.5s; }
  .button-links a:first-child {
    margin-left: 0; }
  .button-links a:last-child {
    margin-right: 0; }
  .button-links a:hover {
    background: #2B5E79;
    color: white; }

@media only screen and (max-width: 544px) {
  .button-links a {
    background: #2B5E79;
    color: white; } }

.lined-row {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }

section:nth-child(odd) .lined-row {
  border-bottom: 1px solid #F2F2F2; }

section:nth-child(even) .lined-row {
  border-bottom: 1px solid #E3E3E3; }

.portfolio-outer-flex, .portfolio-inner-flex {
  display: flex; }

.portfolio-outer-flex {
  justify-content: center;
  flex-wrap: wrap; }

.portfolio-inner-flex {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around; }

@media screen and (min-width: 1500px) {
  .portfolio-inner-flex {
    width: 49.9%; } }

.nav-wrapper {
  height: 1em; }

.navbar {
  width: 100%;
  z-index: 1000; }

.navigation-stick {
  position: fixed;
  top: 0; }

@keyframes noscript {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.hover-text li,
.hover-text ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 38px;
  line-height: normal; }

.hover-text {
  position: relative;
  display: inline-block;
  background-color: #2B5E79;
  overflow: hidden; }

.hover-text img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

.hover-text figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 200%; }

.hover-text a:active,
.hover-text a:hover,
.hover-text a:link,
.hover-text a:visited {
  color: white; }

.hover-text:hover img {
  opacity: 0; }

.hover-text:hover figcaption {
  padding: 0; }

@media only screen and (max-width: 544px) {
  .hide-mobile {
    display: none; }
  .hide-margin {
    margin-top: 0; } }

@media only screen and (min-width: 1400px) {
  body {
    font-size: 20px; } }

@media only screen and (min-width: 1800px) {
  body {
    font-size: 24px; } }

@media only screen and (min-width: 2200px) {
  body {
    font-size: 30px; } }

@media only screen and (min-width: 3000px) {
  body {
    font-size: 40px; } }
