/** {border: 1px solid black;}*/

/** {box-sizing: border-box;}*/

html, body {
	margin: 0em;
	padding: 0em;
	background-color: #f2f2f2;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}

#global-container {
	margin: 0em;
	padding: 0em;
}

#top, #about, #resume, #skills, #contact {
	width: 100%;
	margin: 0em;
	text-align: left;
}

#top {
	height: 80vh;
	padding-top: 20vh;
	background-color: #f2f2f2;
	background-image: url("../images/header-wood.png");
	background-attachment: fixed;
	text-align: center;
}

#navigation {
	width: 100%;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 14px 16px;
}

.navigation-stick {
	position: fixed;
	top: 0em;
}

#about, #skills {
	background-color: #e3e3e3;
}

#resume, #contact {
	background-color: #f2f2f2;
}

h1 {
	margin: 0em;
	padding: 0em;
	font-family: 'Stalemate', "Times New Roman", Times, serif;
	font-size: 8em;
	font-weight: normal;
}

h4 {
	margin: 0em;
}

.sub-title {
	font-size: 3em;
	margin: 0em;
}

.slide-container {
	padding: 3em 0em;
	width: 100%;
	margin: auto;
}

.slide-title {
	font-size: 3em;
	margin: 0em 0em 1em 0em;
	text-align: center;
}

.hide-mobile {
	display: none;
}

.resume-row {
	border-bottom: 1px solid #e3e3e3;
}

a:visited, a:link, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.accent-color {
	color: #266a2e;
}

.link-icon {
	padding-right: 1em;
}

#profile-img {
	width: 100%;
	max-width: 250px;
	max-height: 250px;
	height: 100%;
	border: .5em solid white;
	border-radius: 50%;
}

