body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 16px; }

.sub-title,
h1,
h2 {
  text-align: center; }

.sub-title,
h2 {
  margin: 0 0 1em;
  font-size: 3em; }

h3 {
  margin: 1em 0 1.5em;
  font-size: 1.5em; }

.job-title,
h4 {
  margin: 0 0 1em; }

a:active,
a:hover,
a:link,
a:visited {
  color: black;
  text-decoration: none;
  outline: 0; }

header {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh; }
  header .splashBackground {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -9999;
    background-image: url("http://matthewbryancurtis.com/images/header-wood-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header h1 {
    font-family: "Stalemate", "Times New Roman", Times, serif;
    font-size: 8em; }

.navbar {
  margin: 0;
  color: black;
  background-color: white;
  border-radius: 0;
  border: 0; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: white; }

section:nth-child(odd) {
  background-color: #E3E3E3; }

section:nth-child(even) {
  background-color: #F2F2F2; }

section {
  padding: 3em 0; }

.about-col {
  margin: 2em 0 1.5em; }

.contact-links {
  list-style-type: none;
  padding-left: 0; }
  .contact-links li {
    color: #2B5E79;
    padding: 1em 0;
    width: 30%;
    display: inline-block; }

.slide-container {
  width: 100%;
  max-width: 60em;
  margin: auto; }

.resume-row {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #E3E3E3; }

img.selfie {
  border: 0.5em solid white;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px; }

.accent-color {
  color: #2B5E79; }

/****************/
/****************/
.nav-wrapper {
  height: 1em; }

.navbar {
  width: 100%;
  z-index: 1000; }

.navigation-stick {
  position: fixed;
  top: 0; }

/****************/
/****************/
.hover-text li,
.hover-text ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 1.5em;
  line-height: normal; }

.hover-text {
  position: relative;
  display: inline-block;
  background-color: #2B5E79;
  overflow: hidden; }

.hover-text img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

.hover-text figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 200%; }

.hover-text a:active,
.hover-text a:hover,
.hover-text a:link,
.hover-text a:visited {
  color: white; }

.hover-text:hover img {
  opacity: 0; }

.hover-text:hover figcaption {
  padding: 0; }

/****************/
/****************/
@media only screen and (max-width: 544px) {
  .hide-mobile {
    display: none; }
  .hide-margin {
    margin-top: 0; }
  .contact-links {
    padding-top: 1em;
    text-align: center; }
    .contact-links li {
      color: white;
      background-color: #2B5E79; } }
