.canvas-container {
    background: white;
    overflow: hidden;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
}

.control {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: maroon;
    font-size: 1.4em;
    color: white;
    position: absolute;
    top: -2em;
    right: 5vw;
    width: 2em;
    height: 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: 1s control forwards;
    animation-delay: 1s;
}
