.canvas-container {
  background: white;
  overflow: hidden;
  position: relative;
}
.canvas-popup {
  opacity: 0;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: opacity 4s;
  a {
    color: white;
  }
}
.triangle {
  border: 1px solid white;
  width: 24rem;
  height: 24rem;
  background: #2B5E79;
  position: absolute;
  bottom: -12rem;
  right: -12rem;
  transform: rotate(45deg);
  z-index: 0;
}
h1 {
  position: relative;
  right: 2rem;
  bottom: 1.75rem;
  font-weight: normal;
  margin: 0;
  line-height: 0.75em;
  z-index: 999999;
  font-family: 'Stalemate', "Times New Roman", Times, serif;
  font-size: 4em;
}
